@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-blue: #3d85c6;
    --main-bg: #191919ff;
}

html { 
    overflow-y: hidden; 
}

body {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;  
}

h1 {
    color: var(--main-blue);
}

p {
    color: white;
}