@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-blue: #3d85c6;
  --main-bg: #131415;
}

html {
  overflow-y: hidden;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 120px;
  color: var(--main-blue);
}

p {
  color: white;
}

img {
  padding-left: 3px;
  padding-right: 3px;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
a {
  text-decoration: none;
}
.main-div {
  /* Vertical Center */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  padding-left: 20px;
  line-height: 0.9em;
}

@media only screen and (max-width: 600px) {
    html,
    body {
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    h1 {
        font-size: 45px !important;
    }
    p {
        font-size: 10px !important;
    }
    img {
        width: 7.5%;
        height: 7.5%;
    }
}
